<% content_for :header do %>
  Contact
<% end %>

<p>This project can be found on <a href="https://github.com/ljleppan/Inkling">GitHub</a>.</p>

<p>You can reach the author by creating an issue on GitHub, or by contacting <em>Loezi</em> on IRCnet.</p>
