<% content_for :header do %>
  Welcome to Inkling
<% end %>

<blockquote>
  <strong><a href="http://dictionary.reference.com/browse/inkling">ink·ling</a></strong> &nbsp; /ˈɪŋklɪŋ/<br />
  <i><strong>noun</strong></i><br />
  <ol>
    <li>a slight suggestion or indication; hint; intimation: <i>They hadn't given us an inkling of what was going to happen.</i></li>
    <li>a vague idea or notion; slight understanding: <i>They didn't have an inkling of how the new invention worked.</i></li>
  </ol>
</blockquote>

<p>For more information about Inkling, please see the <%= link_to 'about page', about_path %>.</p>
