<% content_for :header do %>
  Courses
<% end %>

<section>
  <header>
    <h1>Current courses</h1>
  </header>
  <%= render 'courses/list', courses:@active_courses %>
</section>

<section>
  <header>
    <h1>Inactive courses</h1>
  </header>
  <%= render 'courses/list', courses:@inactive_courses %>
</section>

<section class="toolbelt">
  <%= link_to 'New Course', new_course_path %>
</section>