/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Sue+Ellen+Francisco);
@import url(http://fonts.googleapis.com/css?family=Covered+By+Your+Grace);

$nav-bg: #000;
$nav-font: #fff;

$footer-bg: #c0c0c0;
$footer-font: #000;

/* BODY */

body{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/* NAV */

nav {
  background-color: $nav-bg;
}

nav a, nav a:visited, nav a:hover{
  display: inline-block;
  padding: 10px;

  text-decoration: none;
  color: $nav-font
}

nav a:hover{
  background-color: lighten($nav-bg, 20);
}

#usermanagement {
  float: right;
}

/* HEADER */

body > header {
  color: #000;
}

body > header h1{
  font-family: 'Sue Ellen Francisco', cursive;
  font-weight: normal;

  font-size: 4em;

  float: right;
  margin-right: 70px;
}

body > header h1 a{
  color: #000;
  text-decoration: none;
}

body > header h2{
  font-family: 'Covered By Your Grace', cursive;
  letter-spacing: 0.1em;
  font-weight: normal;
  float: right;
  clear: right;
  position: relative;
  top: -210px;
  left: -40px;
}

/* BODY */

main {
  position: relative;
  top: -250px;
  clear: both;
}

main > header {
  display: inline-block;
  border-bottom: 1px solid black;
  padding-right: 100px;
}

main > header h1{
  margin-left: 50px;
  margin-top: 50px;
}

.exercise {
  margin: 10px;
  padding: 10px;
  padding-top: 0px;
  border: 1px solid black;
}

/* TABLES */

table *{
  margin: 0px;
}

table {
  border-spacing: 0;
  margin: 15px;
  text-align: left;
  min-width: 600px;
}

table td, table th {
  padding: 5px;
}

table tbody tr:nth-child(even) {
  background-color: #fff;
}

table tbody tr:nth-child(odd) {
  background-color: #eee;
}

table tfoot th{
  border-top: 1px solid black;
}

table thead th{
  border-bottom: 1px solid black;
}

/* FOOTER */

footer{
  margin-top: 50px;
  border-top: 1px solid #000;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer a, footer a:hover, footer a:visited{
  text-decoration: none;
  color: $footer-font;
}

footer a:hover{
  text-decoration: underline;
}