<header>
  <h1>About</h1>
</header>

<p>Welcome to <em>Inkling</em>, a Ruby on Rails project for the University of Helsinki lab Web-application Development, Ruby on Rails.</p>

<p>Inkling is an exam archive and useful for both faculty and students.</p>

<p>For the students, Inkling allows focused studying by providing access to old exams, their questions, their scoring criteria and their suggested answers.</p>

<p>For the faculty, Inkling can be used as a general exercise repository.</p>
