/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Sue+Ellen+Francisco);
@import url(http://fonts.googleapis.com/css?family=Covered+By+Your+Grace);

$nav-bg: #000;
$nav-font: #fff;

$footer-bg: #c0c0c0;
$footer-font: #000;

/* BODY */

body{
  position: relative;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

/* NAV */

nav {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  background-color: $nav-bg;
}

nav a, nav a:visited, nav a:hover{
  display: inline-block;
  padding: 10px;

  text-decoration: none;
  color: $nav-font
}

nav a:hover{
  background-color: lighten($nav-bg, 20);
}

#usermanagement {
  float: right;
}

/* HEADER */

body > header {
  color: #000;
}

body > header h1{
  font-family: 'Sue Ellen Francisco', cursive;
  font-weight: normal;
  font-size: 4em;
  float: right;
  margin: 0px;
  margin-top: 50px;
  margin-right: 70px;
  margin-bottom: -120px;
}

body > header h1 a{
  color: #000;
  text-decoration: none;
}

body > header h2{
  font-family: 'Covered By Your Grace', cursive;
  letter-spacing: 0.1em;
  font-weight: normal;
  float: right;
  clear: right;
  position: absolute;
  right: 40px;
}

/* BODY */

main {
  margin-top: -50px;
  clear: both;
}

main > header {
  display: inline-block;
  border-bottom: 1px solid black;
  padding-right: 100px;
  margin-bottom: 20px;
}

main > header h1{
  margin-left: 50px;
  margin-top: 50px;
}

.exercise {
  margin: 10px;
  padding: 10px;
  padding-top: 0px;
  border: 1px solid black;
}

.exercise header a{
  float: right;
  position: relative;
  top: -40px;
  left: -50px;
}

img[src^="http://chart.apis.google.com/"]{
  vertical-align: middle;
}

/* EXERCISE-TEXTAREA */
#exercise_question, #exercise_answer, #exercise_criteria {
  width: 70%;
  height: 150px;
}

/* ALERTS */

#alert {
  border-left: 4px solid red;
  color: red;
  font-weight: bold;
  padding: 10px 0 10px 10px;
}

#notice {
  border-left: 4px solid green;
  color: green;
  font-weight: bold;
  padding: 10px 0 10px 10px;
}

/* FORMS */
input, textarea {
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 3px;
  padding: 4px;
}

label{
  margin-top: 10px;
  width: 100px;
  display: inline-block;
  text-align: right;
}

input[type=submit]{
  padding: 7px 10px 7px 10px;
  color: $nav-font;
  text-decoration: none;
  background-color: $nav-bg;
  position: relative;
  left: 105px;
  top: 10px;
}

/* TABLES */

table *{
  margin: 0px;
}

table {
  border-spacing: 0;
  margin: 15px;
  margin-left: 0px;
  text-align: left;
  width: 750px;
}

table a, table a:visited{
  color: #000;
  text-decoration: none;
}

table a:hover{
  text-decoration: underline;
}

table td, table th {
  padding: 5px;
}

table tbody tr:nth-child(even) {
  background-color: #fff;
}

table tbody tr:nth-child(odd) {
  background-color: #eee;
}

table tfoot th{
  border-top: 1px solid black;
}

table thead th{
  border-bottom: 1px solid black;
}

/* TOOLBELT */

.toolbelt {
  width: 100%;
  text-align: center;
  margin-top: 40px;
}

.toolbelt a{
  padding: 10px;
  margin-left: 1px;
}

.toolbelt a, .toolbelt a:visited{
  color: $nav-font;
  text-decoration: none;
  background-color: $nav-bg;
}

.toolbelt a:hover{
  background-color: lighten($nav-bg, 20);
}

.toolbelt a:first-child{
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.toolbelt a:last-child{
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

/* FOOTER */

footer{
  margin-top: 50px;
  border-top: 1px solid #000;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

footer a, footer a:hover, footer a:visited{
  text-decoration: none;
  color: $footer-font;
}

footer a:first-child{
  margin-right: 50px;
}

footer a:hover{
  text-decoration: underline;
}