<header>
  <h1>Exams</h1>
</header>

<table>
  <thead>
    <tr>
      <th>Course</th>
      <th>Date</th>
      <th>Type</th>
    </tr>
  </thead>

  <tbody>
    <% @exams.each do |exam| %>
      <tr>
        <td><%= link_to exam.course.name, course_path(exam.course) %></td>
        <td><%= link_to exam.date, exam_path(exam) %></td>
        <td><%= exam.exam_type %></td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <th>Course</th>
      <th>Date</th>
      <th>Type</th>
    </tr>
  </tfoot>
</table>

<section class="toolbelt">
  <%= link_to 'New Exam', new_exam_path %>
</section>